* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020205;
  color: white;
  font-family: system-ui, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

::selection {
  background-color: #63C979;
  color: #020205;
}