<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,200,0,0&icon_names=mail" />
</head>

<header id="main-header" class="absolute top-0 left-0 w-full z-50 transition-all duration-500">
  <div class="flex items-center justify-between max-w-7xl mx-auto px-8 py-4 lg:py-6 transition-all duration-500">
    <!-- LOGO -->
    <a href="#hero" class="text-2xl lg:text-3xl font-bold tracking-wide text-white font-logo transition-all duration-500">
      ELIVION
    </a>

    <!-- CONTACT BUTTON -->
    <a href="#contact"
       class="relative inline-flex items-center px-6 py-2 lg:px-8 lg:py-3 bg-white/5 border border-white/10 text-white font-main font-semibold rounded-xl backdrop-blur-sm overflow-hidden transition-all duration-300 hover:scale-105 hover:bg-white/10">
      <span class="relative z-10 flex items-stretch">
        <span class="material-symbols-outlined pr-2">
          mail
        </span>
        WORK WITH US
      </span>
    </a>
  </div>
</header>
